.gridColumnCenter {
    display: flex !important;
}

.gridColumnCenterItem {
    margin: auto !important;
}

.nameStatistic {
    line-height: 50px !important;
}

.messagesSidebarContainer {
    padding: 0 !important;
}

.messagesSidebarContent {
    padding: 1em
}
