.gridColumnCenter {
    display: flex !important;
}

.gridColumnCenterItem {
    margin: auto !important;
}

.nameStatistic {
    line-height: 50px !important;
}

.messagesSidebarContainer {
    padding: 0 !important;
}

.messagesSidebarContent {
    padding: 0 1em calc(1em + 42px) 1em
}
