.gridColumnCenter {
    display: flex !important;
}

.gridColumnCenterItem {
    margin: auto !important;
}

.nameStatistic {
    line-height: 50px !important;
}

.messagesSidebarContainer {
    padding-top: 0 !important;
}