/* @import "~@fortawesome/fontawesome-free/css/all.css";
*/
@import "~semantic-ui-css/semantic.min.css";
@import '~taucharts/dist/taucharts.min.css';
@import "~react-vis/dist/style.css";

/* vars */
:root {
  --containerPadding: 20px;
  --menuWidth: 230px;
  --mainWidth: calc(100vw - 230px);
  --topMenuHeight: 50px; 
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
  background-color: #232c39;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

svg.rv-xy-plot__inner {
  overflow: visible;
}