.friendContainer {
    padding: var(--containerPadding);
    width: var(--mainWidth);
    overflow-y: scroll;
    height: 100vh
}

.hourRadar {
    margin: auto;
}

.gridColumnCenter {
    display: flex !important;
}

.gridColumnCenterItem {
    margin: auto !important;
}

.inlineProgress {
    padding: 0 !important;
}

.inlineProgressBar {
    margin: 0 !important;
    border-radius: 0 !important;
}

.inlineProgressBar .bar {
    border-radius: 0 !important;
}