.menuContainer {
    width: var(--menuWidth);
    background: #2A3F54;
}

.menuContainer h1 .title, .menuContainer h1 i {
    color: #FFF;
}

.menu {
    width: auto !important;
    border-radius: 0 !important;
}

.topMenu {
    margin-bottom: 0 !important;
}