
.messages {
    padding: 12px;
}

.messages .messageWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.messages .messageWrapper .imageWrapper {
    display: flex;
}

.messages .messageWrapper .imageWrapper .image {
    height: 28px;
    width: 28px;
    border-radius: 13px;
    align-self: flex-end;
}

.messages .from {
    margin-left: 12px;
    color: rgba(0, 0, 0, .40);
    font-size: 12px;
    font-weight: 400;
}

.messages .messageContent {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.messages .message {
    display: inline-flex;
    border-radius: 18.2px;
    background-color: #f1f0f0;
    line-height: 17.92px;
    margin-bottom: 1px;
    padding: 6px 12px;
    margin-left: 0;
    margin-right: auto;
    max-width: 100%;
    word-break: break-all;
}

.messages .message:first {
    border-bottom-left-radius: 4px; 
}

.messages .message:first:last {
    border-bottom-left-radius: 18.2px; 
}

.messages .self.messageWrapper .message {
    background-color: #0084ff;
    color: #FFF;
    margin-left: auto;
    margin-right: 0;
} 

.messages .self.messageWrapper .messageContent {
    margin-left: auto;
    text-align: right;
}

.messages .self.messageWrapper .imageWrapper {
    display: none;
}

.messages .self.messageWrapper .from {
    display: none;
}

.messages .groupedMessage {
    margin-bottom: 0;
}

.messages .announcement {
    display: block;
    font-weight: 500;
    margin: 12px 0 12px 20px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, .40);
    font-size: 12px;
}