.container {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.column {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
}

.word {
    margin-bottom: 0.75em;
}

.words {
    margin-top: auto;
    padding-left: 10px;
    border-left: 5px solid #33C3F0;
    border-bottom: 5px solid #000;
}

.date {
    font-size: 20px;
    padding-bottom: 25px;
    text-align: left;
    width: 150px;
    padding-top: 20px
}

.secondaryMenu {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdownItem {
    margin: -.78571429em -1.14285714em;
    padding: .78571429em 1.14285714em;
}